### Exports

export(add.dens,
		add.polygons,
		bm_ase,
		data.for.3d,
		name.poly,
		phylo.3d,
		point.like.bm,
		post.mcmc,
		random_rase3d,
		ranges.like.bm,
		rase,
		rase,
		rase.slice,
		shape.to.rase,
		tree.slice
)

### Imports

importFrom(ape, ace, vcv, branching.times, is.binary.tree)
importFrom(mvtnorm, dmvnorm, pmvnorm, rmvnorm)
importFrom(phytools, pbtree)
importFrom(polyCub, polyCub.SV)
importFrom(rgl,points3d, lines3d, polygon3d, axes3d, title3d)
importFrom(sm,sm.density)
importFrom(spatstat, area, owin)
#importFrom(grDevices, chull, contourLines)
#importFrom(methods, as, is, new)
#importFrom(stats, dnorm, nlm, rnorm, runif, sd,
#            weighted.mean)
